<div class="row">
    <div class="card bg-light mb-3 ml-5 border-dark" style="width: 18rem;" *ngFor='let house of houses; let i = index' [attr.data-index]="i">
      <div class="card-header text-center bg-primary">{{house.name}}</div>
          <ul class="text-center list-group list-group-flush">
         
          <li class="list-group-item text-primary">Region :{{house.region}}</li>
          
          <a [routerLink]="['/houses',i+1]" class="btn btn-primary">Click for More Details</a></ul>
        </div>
        </div>
        