<div class="row">  
        <div class="card bg-light mb-3 ml-5 border-dark" style="width: 18rem;" *ngFor='let book of books; let i = index' [attr.data-index]="i">
            <div class="card-header text-center bg-warning">{{book.name}} </div>
              <ul class="text-center list-group list-group-flush">
          
          <li class="list-group-item text-warning"> wrritten by  {{book.authors}} 
          </li>
          
          <a [routerLink]="['/book',i+1]" class="btn btn-warning">Click for More Details</a> </ul>
        </div>
        </div>
        
        